<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Twitter Client for Atom</title>
    <style>
      body {
        font: 400 14px/1.6 "Open Sans",sans-serif;
        background-color: #faf6ec;
        color: #66595c;
        padding: 50px;
      }
      a {
        text-decoration: none;
        color: #66595c;
      }
      h1 {
        font-weight: normal;
        font-size: 1.8em;
      }
      #auth {
        text-align: center;
      }
      .content {
        padding: 50px;
      }
      .screenshot {
        width: 1000px;
      }
      .footer {
        border-top: 1px solid #ddd;
        padding: 20px;
      }
      .footer iframe {
        float: right;
      }
    </style>
  </head>
<body>
  <h1>
    <a href="https://atom.io/packages/atom-twitter-client" target="_blank">
      Twitter Client for Atom
    </a>
  </h1>
  <div class="content">
